<div class="col-md-4">
        <div class="p-3 mb-2 bg-light" style="height:59px;color:#007bff;border:1px solid #333;">Trends</div>
        <div class="p-3 mb-2 bg-light" style="height:59px;border:1px solid #333;">Trend 1</div>
        <div class="p-3 mb-2 bg-light" style="height:59px;border:1px solid #333;">Trend 2</div>
        <div class="p-3 mb-2 bg-light" style="height:59px;border:1px solid #333;">Success</div>
        <div class="p-3 mb-2 bg-light" style="height:59px;border:1px solid #333;">Trend 3</div>
        <div class="p-3 mb-2 bg-light" style="height:59px;border:1px solid #333;">Trend 4</div>
        <div class="p-3 mb-2 bg-light" style="height:59px;border:1px solid #333;">Trend 5</div>
   </div> 