<div class="d-flex justify-content-between align-items-center">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">

            <div class="card-body">

                <h1>Who to Follow</h1>
                <div class="form-check form-check-inline">
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
                        <p class="card-text">John Smith</p>
                        <br>
                        <br>
                        
                </div>
                <table>
                    <thead>
                    <tr>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        
                        <td>jdoe@gmail.com</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <hr>

            <div class="card-body">

                <h1></h1>
                <div class="form-check form-check-inline">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
                    <p class="card-text">John Smith</p>
                    <br>
                    <br>
                    
                </div>
                <table>
                <thead>
                <tr>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    
                    <td>jdoe@gmail.com</td>
                </tr>

                </tbody>
                </table>
            </div>

            <hr>

            <div class="card-body">

                <h1></h1>
                <div class="form-check form-check-inline">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
                    <p class="card-text">John Smith</p>
                    <br>
                    <br>
                    
                </div>
                <table>
                <thead>
                <tr>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    
                    <td>jdoe@gmail.com</td>
                </tr>

                </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
